*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  font-family: 'DM Sans', sans-serif;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
