:root {
  /* - - - font-family vars - - - */
  --primary-font-family: "DM Sans";
  --accent-font-family: "Titan One";

  --main-accent-color: #d41443;

  /* - - - title vars - - - */
  --title-text-color: #ffffff;
  --pre-title-color: #ffa5ba;

  /* - - - text-color vars - - - */
  --accent-text-color: #907e82;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;

  /* - - - bacground-color vars - - - */
  --white-bg: #ffffff;
  --body-bg-color: #e5e5e5;
  --accent-bg-color: #ffb8ca;
  --primary-bg-color: #fff5f6;
  --secondary-bg-color-1: #f0d1a5;
  --secondary-bg-color-2: #c2e297;
  --secondary-bg-color-3: #f0d1a5;
  --secondary-btn-color: #ECEBEB;

  /* - - - shadow vars - - - */
  --contact-card-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
