
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<section class="about">
    <p class="about__pretext">tradition and love</p>
    <h2 class="about__title">HOW IT’S MADE?</h2>
       
         
               
    <ul class="about__list">
              <li>
               <img class="img" src="./images/desktop/about@2-min.png" width="516px" height="516px" alt="корова с молоком">
               <!-- <img src="./images/desktop/bg_about.png" alt=""> -->
              </li>
              <li class="about__text">

                <ul class="block">
                  <li class="break">
            <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
            </li>
            <li class="break-second">
            <p class="about__textafter">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            <p class="about__textafter">Aliquam erat volutpat. Aenean accumsan.</p>
            </li>
           
            <button class="btn" type="button">Read more</button>
            </ul>
            
      </li>
   
    </ul>
           
  
</section>





