<section id="advantages" class="advantages">
<h2 class="advantages__title visually-hidden">Advantages</h2>

<ul class="advantages__list container" >
  <li class="advantages__link">
    <article class="advantages__inner">
      
      <picture class="advantages__icon">
        <source srcset="./images/desktop/advantages_1-min.png 1x,
        ./images/desktop/advantages_1@2-min.png 2x"
        media="(min-width: 1200px)"
        >
        <source srcset="./images/tablet/advantages_1-min.png 1x,
        ./images/tablet/advantages_1@2-min.png 2x"
        media="(min-width: 768px)"
        >
        <source srcset="./images/mob/advantages_1-min.png 1x,
        ./images/mob/advantages_1@2-min.png 2x"
        media="(max-width: 767px)"
        >
        <img src="./images/desktop/advantages_1-min.png" alt="Растение">
      </picture>
      <p class="advantages__desc">721</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </article>
  </li>
  <li class="advantages__link">
    <article class="advantages__inner">
      <picture class="advantages__icon">
        <source srcset="./images/desktop/advantages_2-min.png 1x,
        ./images/desktop/advantages_2@2-min.png 2x"
        media="(min-width: 1200px)"
        >
        <source srcset="./images/tablet/advantages_2-min.png 1x,
        ./images/tablet/advantages_2@2-min.png 2x"
        media="(min-width: 768px)"
        >
        <source srcset="./images/mob/advantages_2-min.png 1x,
        ./images/mob/advantages_2@2-min.png 2x"
        media="(max-width: 767px)"
        >
        <img src="./images/desktop/advantages_2-min.png" alt="Фрукты">
      </picture>
      <p class="advantages__desc">16kg</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </article>
  </li>
  <li class="advantages__link">
    <article class="advantages__inner">
      <picture class="advantages__icon">
        <source srcset="./images/desktop/advantages_3-min.png 1x,
        ./images/desktop/advantages_3@2-min.png 2x"
        media="(min-width: 1200px)"
        >
        <source srcset="./images/tablet/advantages_3-min.png 1x,
        ./images/tablet/advantages_3@2-min.png 2x"
        media="(min-width: 768px)"
        >
        <source srcset="./images/mob/advantages_3-min.png 1x,
        ./images/mob/advantages_3@2-min.png 2x"
        media="(max-width: 767px)"
        >
        <img src="./images/desktop/advantages_3-min.png" alt="Леденец">
      </picture>
      <p class="advantages__desc">84</p>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </article>
  </li>
</ul>
</section>