<section class="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contact-list contacts__list">
      <li class="contact-item contact-list__contact-item">
        <div class="contact-item__representation">CAFE</div>
        <div class="contact-item__city">Chicago</div>
        <p class="contact-item__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contact-item__opening-days">Monday - Friday</div>
        <div class="contact-item__opening-time contact-item__opening-time_margin">
          <time> 06:00 </time> AM - <time> 10:00 </time> PM
        </div>
        <div class="contact-item__opening-days">Saturday - Sunday</div>
        <div class="contact-item__opening-time">
          <time> 08:00 </time> AM - <time> 16:00 </time> PM
        </div>
        <a href="tel:+61(0)383766284 " class="contact-item__link contact-item__link_border"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contact-item__link">noreply@envato.com</a>
      </li>
      <li class="contact-item contact-list__contact-item">
        <div class="contact-item__representation contact-item__representation_bg-color">
          FOOD TRUCK
        </div>
        <div class="contact-item__city">Los Angeles</div>
        <p class="contact-item__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contact-item__opening-days">Monday - Friday</div>
        <div class="contact-item__opening-time contact-item__opening-time_margin">
          <time> 06:00 </time> AM - <time> 10:00 </time> PM
        </div>
        <div class="contact-item__opening-days">Saturday - Sunday</div>
        <div class="contact-item__opening-time">
          <time> 08:00 </time> AM - <time> 16:00 </time> PM
        </div>
        <a href="tel:+61(0)383766284 " class="contact-item__link contact-item__link_border"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contact-item__link">noreply@envato.com</a>
      </li>
      <li class="contact-item contact-list__contact-item">
        <div class="contact-item__representation">CAFE</div>
        <div class="contact-item__city">New York</div>
        <p class="contact-item__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contact-item__opening-days">Monday - Friday</div>
        <div class="contact-item__opening-time contact-item__opening-time_margin">
          <time> 06:00 </time> AM - <time> 10:00 </time> PM
        </div>
        <div class="contact-item__opening-days">Saturday - Sunday</div>
        <div class="contact-item__opening-time">
          <time> 08:00 </time> AM - <time> 16:00 </time> PM
        </div>
        <a href="tel:+61(0)383766284 " class="contact-item__link contact-item__link_border"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contact-item__link">noreply@envato.com</a>
      </li>
    </ul>
    <button class="contacts__btn" type="button">
      Our Locations<span class="btn__item">&#5171;</span>
    </button>
    <button class="btn contacts__btn contacts__btn_color" type="button">
      Franchise<span class="btn__item">&#5171;</span>
    </button>
    <div class="new">HELLO</div>
  </div>
</section>
