<section class="customer">
<div class="container">
<h2 class="visually-hidden">Customer reviews</h2>
    <div class="customer__list">
        <div class="customer__item">
            <picture class="customer__img">
                <source srcset="
                    ./images/mob/customer-reviews_1-min.png    1x,
                    ./images/mob/customer-reviews_1@2-min.png 2x" type="image/webp" media="(min-width: 480px)" />
                <source srcset="
                    ./images/tablet/customer-reviews_1-min.png    1x,
                    ./images/tablet/customer-reviews_@2-min.png 2x" type="image/webp" media="(min-width: 768px)" />
                <source srcset="
                    ./images/desktop/customer-reviews_1-min.png    1x,
                    ./images/desktop/customer-reviews_1@2-min.png 2x" type="image/webp" media="(min-width: 1280px)" />
                <img src="./images/mob/customer-reviews_1-min.png" alt="фото3" width="85" />
            </picture>
            <div class="customer__icon-text">

                <blockquote class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.

                </blockquote>
            </div>
            <div class="customer__slider">
                <ul class="customer__slider-elipse">
                    <li class="customer__elipse"></li>
                </ul>
                <p class="customer__slider-text">
                    Emily, Los Angeles
                </p>
            </div>
        </div>
        <div class="customer__item">
            <picture class="customer__img">
                <source srcset="
                            ./images/mob/customer-reviews_2-min.png    1x,
                            ./images/mob/customer-reviews_2@2-min.png 2x" type="image/webp"
                    media="(min-width: 480px)" />
                <source srcset="
                            ./images/tablet/customer-reviews_2-min.png    1x,
                            ./images/tablet/customer-reviews_2@2-min.png 2x" type="image/webp"
                    media="(min-width: 768px)" />
                <source srcset="
                            ./images/desktop/customer-reviews_2-min.png    1x,
                            ./images/desktop/customer-reviews_2@2-min.png 2x" type="image/webp"
                    media="(min-width: 1280px)" />
                <img src="./images/mob/customer-reviews_2-min.png" alt="фото3" width="85" />
            </picture>
            <div class="customer__icon-text">
                <blockquote class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam nunc,
                    accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </blockquote>
            </div>
            <div class="customer__slider">
                <ul class="customer__slider-elipse">
                    <li class="customer__elipse"></li>
                </ul>
                <p class="customer__slider-text">
                    Emily, Los Angeles
                </p>

            </div>
        </div>
        <div class="customer__item">
            <picture class="customer__img">
                <source srcset="
                    ./images/mob/customer-reviews_3-min.png    1x,
                    ./images/mob/customer-reviews_3@2-min.png 2x" type="image/webp" media="(min-width: 480px)" />
                <source srcset="
                    ./images/tablet/customer-reviews_3-min.png    1x,
                    ./images/tablet/customer-reviews_3@2-min.png 2x" type="image/webp" media="(min-width: 768px)" />
                <source srcset="
                    ./images/desktop/customer-reviews_3-min.png    1x,
                    ./images/desktop/customer-reviews_3@2-min.png 2x" type="image/webp" media="(min-width: 1280px)" />
                <img src="./images/mob/customer-reviews_3-min.png" alt="фото3" width="85" />
            </picture>
            <div class="customer__icon-text">
            <blockquote class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam nunc,
                    accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </blockquote>
            </div>
            <div class="customer__slider">
                <ul class="customer__slider-elipse">
                    <li class="customer__elipse"></li>
                </ul>
                <p class="customer__slider-text">
                    Emily, Los Angeles
                </p>

            </div>
        </div>
    </div>
</div>
</section>

