<section class="customer">
    <ul class="customer__list">
        <li class="customer__item">
            <picture class="customer__img">
                <source srcset="
                    ./images/mob/customer-reviews_1-min.png    1x,
                    ./images/mob/customer-reviews_1@2-min.png 2x" type="image/webp" media="(min-width: 480px)" />
                <source srcset="
                    ./images/tablet/customer-reviews_1-min.png    1x,
                    ./images/tablet/customer-reviews_1@2-min.png 2x" type="image/webp" media="(min-width: 768px)" />
                <source srcset="
                    ./images/desktop/customer-reviews_1-min.png    1x,
                    ./images/desktop/customer-reviews_1@2-min.png 2x" type="image/webp" media="(min-width: 1280px)" />
                <img src="./images/mob/customer-reviews_1-min.png" alt="фото3" width="85" />
            </picture>
                <div class="customer__icon-text">
                <svg class="customer__icon" width="54" height="40">
                    <use href="./images/sprite.svg#icon-arrow-right2"></use>
                </svg>
                <P class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </P>
            </div>
            <div class="customer__slider">
                <div class="customer__elipse"></div>
                <div class="customer__elipse"></div>
                <div class="customer__elipse"></div>
                <p class="customer__slider-text">
                    Emily, Los Angeles
                </p>
                <ul class="customer__slider-img">
                    <li class="customer__slider-item">
                        <svg class="customer__icon" width="12" height="12">
                            <use href="./images/sprite.svg#icon-house"></use>
                        </svg>
                    </li>
                    <li class="customer__slider-item">
                        <svg class="customer__icon" width="12" height="12">
                            <use href="./images/sprite.svg#icon-arrow-right2"></use>
                        </svg>
                    </li>
                    <li class="customer__slider-item">
                        <svg class="customer__icon" width="12" height="12">
                            <use href="./images/sprite.svg#icon-arrow-right2"></use>
                        </svg>
                    </li>
                </ul>

                
            </div>
        </li>
        <li>
            <li class="customer__item">
                <picture class="customer__img">
                    <source srcset="
                        ./images/mob/customer-reviews_2-min.png    1x,
                        ./images/mob/customer-reviews_2@2-min.png 2x" type="image/webp" media="(min-width: 480px)" />
                    <source srcset="
                        ./images/tablet/customer-reviews_2-min.png    1x,
                        ./images/tablet/customer-reviews_2@2-min.png 2x" type="image/webp" media="(min-width: 768px)" />
                    <source srcset="
                        ./images/desktop/customer-reviews_2-min.png    1x,
                        ./images/desktop/customer-reviews_2@2-min.png 2x" type="image/webp" media="(min-width: 1280px)" />
                    <img src="./images/mob/customer-reviews_2-min.png" alt="фото3" width="85" />
                </picture>
                <div class="customer__icon-text">
                    <svg class="customer__icon" width="54" height="40">
                        <use href="./images/sprite.svg#icon-arrow-right2"></use>
                    </svg>
                    <P class="customer__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </P>
                </div>
                <div class="customer__slider">
                    <div class="customer__elipse"></div>
                    <div class="customer__elipse"></div>
                    <div class="customer__elipse"></div>
                    <p class="customer__slider-text">
                        Emily, Los Angeles
                    </p>
                    <ul class="customer__slider-img">
                        <li class="customer__slider-item">
                            <svg class="customer__icon" width="12" height="12">
                                <use href="./images/sprite.svg#icon-house"></use>
                            </svg>
                        </li>
                        <li class="customer__slider-item">
                            <svg class="customer__icon" width="12" height="12">
                                <use href="./images/sprite.svg#icon-arrow-right2"></use>
                            </svg>
                        </li>
                        <li class="customer__slider-item">
                            <svg class="customer__icon" width="12" height="12">
                                <use href="./images/sprite.svg#icon-arrow-right2"></use>
                            </svg>
                        </li>
                    </ul>
            
            
                </div>
            </li>
        </li>
        <li>
            <li class="customer__item">
                <picture class="customer__img">
                    <source srcset="
                        ./images/mob/customer-reviews_3-min.png    1x,
                        ./images/mob/customer-reviews_3@2-min.png 2x" type="image/webp" media="(min-width: 480px)" />
                    <source srcset="
                        ./images/tablet/customer-reviews_3-min.png    1x,
                        ./images/tablet/customer-reviews_3@2-min.png 2x" type="image/webp" media="(min-width: 768px)" />
                    <source srcset="
                        ./images/desktop/customer-reviews_3-min.png    1x,
                        ./images/desktop/customer-reviews_3@2-min.png 2x" type="image/webp" media="(min-width: 1280px)" />
                    <img src="./images/mob/customer-reviews_3-min.png" alt="фото3" width="85" />
                </picture>
                <div class="customer__icon-text">
                    <svg class="customer__icon" width="54" height="40">
                        <use href="./images/sprite.svg#icon-arrow-right2"></use>
                    </svg>
                    <P class="customer__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </P>
                </div>
                <div class="customer__slider">
                    <div class="customer__elipse"></div>
                    <div class="customer__elipse"></div>
                    <div class="customer__elipse"></div>
                    <p class="customer__slider-text">
                        Emily, Los Angeles
                    </p>
                    <ul class="customer__slider-img">
                        <li class="customer__slider-item">
                            <svg class="customer__icon" width="12" height="12">
                                <use href="./images/sprite.svg#icon-house"></use>
                            </svg>
                        </li>
                        <li class="customer__slider-item">
                            <svg class="customer__icon" width="12" height="12">
                                <use href="./images/sprite.svg#icon-arrow-right2"></use>
                            </svg>
                        </li>
                        <li class="customer__slider-item">
                            <svg class="customer__icon" width="12" height="12">
                                <use href="./images/sprite.svg#icon-arrow-right2"></use>
                            </svg>
                        </li>
                    </ul>
            
            
                </div>
            </li>
        </li>
    </ul>    
        
   
</section>