<div class="sectiom-ft">
<div class="container container-footer">
  <div class="footer-section">
<div class="left-section">
  <p class="Footer-text" >homemade ice cream made </p>
  <p class="footer-text-second" >with passion</p>
</div>
<div class="right-section">
  <ul class="footer-list">
      <li>
          <a href="http://github.com" target="_blanck">
              <svg class="footer-contact-icon" width="34" height="34">
                <use href="./images/sprite.svg#icon-Github"></use>
              </svg>
            </a>
      </li>
      <li>
          <a href="http://telegram.org" target="_blanck">
              <svg class="footer-contact-icon" width="34" height="34">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
      </li>
      <li>
          <a href="http://facebook.com" target="_blanck">
              <svg class="footer-contact-icon" width="34" height="34">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
      </li>
  </ul>
 <div class="footer-contact"> Feel free to contact <a class="footer-contact-tel" href="tel:+610383766284">+61 (0) 383 766 284</a></div>
</div>
  </div>
  <p class="footer-text-bottom" > <span>&copy;</span> 2019 - IceCream. All Rights Reserved. </p>
</div>
</div>