<section class="gallery ">
  <h2 class="gallery__title visually-hidden">Gallery</h2>
  <div class="gallery__wrap container ">
    <div class="gallery__first wow slideInLeft">
      <img class="gallery-img" src="./images/gallery/gallery_6.jpg" alt="Клубника с мороженым ">
    </div>
    <div class="gallery__secondary wow bounceIn">
      <img class="gallery-img" src="./images/gallery/gallery_2.jpg" alt="Мороженое с добавками">
      <img class="gallery-img" src="./images/gallery/gallery_3.jpeg" alt="Мороженое на палочке">
    </div>
    <div class="gallery__third wow bounceIn">
      <img class="gallery-img-hero wow flip" src="./images/gallery/gallery_8.jpg" alt="Мороженое шариками">
      <img class="gallery-img wow slideInUp" src="./images/gallery/gallery_5.jpg"
        alt="Мороженое с орешками и клубникой">
    </div>
    <div class="gallery__fourth wow fadeInDownBig">
      <img class="gallery-img" src="./images/gallery/gallery_4.jpg" alt="Мороженое с добавками">
      <img class="gallery-img" src="./images/gallery/gallery_7.jpg" alt="Мороженое с вишней">
    </div>
    <div class="gallery__fifth wow bounceIn">
      <img class="gallery-img" src="./images/gallery/gallery_2.jpg" alt="Мороженое с фруктовыми добавками">
      <img class="gallery-img" src="./images/gallery/gallery_1.jpg" alt="Замороженный сок мороженое">
    </div>
    <div class="gallery__sixth wow slideInRight">
      <img class="gallery-img" src="./images/gallery/gallery_10.jpg" alt=" Фруктовый замороженный сок мороженое">
    </div>
  </div>
</section>