

<div class="container">
    <div class="products_section" id="products">
 <p class="product_paragraph">100% natural</p>
 <h2 class="product_title">products</h2>
 
 
 
 
 <ul class="product_list">
  
     <li class="product_list-item product_list_left-col">

        <picture class="products_list-img">
            <source srcset="./images/desktop/products-desc_1-min.png 1x,./images/desktop/products-desc_1@2x-min.png 2x"
            media="(min-width: 1280px)"
            >
            <source srcset="./images/tablet/products-tablet_1.png 1x,
            ./images/tablet/products-tablet_1@2x.png 1x"
            media="(min-width: 768px)"
            >
            <source srcset="./images/mob/products-mob_1-min.png 1x,
            ./images/mob/products-mob_1@2x-min.png 2x"
            media="(min-width: 480px)"
            >
            <source srcset="./images/mob/products-mob_1-min.png 1x,
            ./images/mob/products-mob_1@2x-min.png 2x"
            media="(max-width: 479px)"
            >
            <img src="./images/mob/products-mob_1-min.png" alt="ice">
          </picture>
         
         <h3 class="product_item-title ">ice cream</h3>
  <div  class="product_item_wrap-ellipse">
         <div class="product_item-ellipse"></div>
         <div class="product_item-ellipse"></div>
         <div class="product_item-ellipse"></div>
     </div>
 
         <p class="product_item-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
 
         <div class="product_item_wrap-btn">
              <button class="product_item-btn">
            <svg width="15" height="15" class="product_wrap-svg">
                <use href="./images/sprite.svg#icon-arrow-right2" class="product_list-svg"></use>
              </svg>
         </button></div>
     </li>
     <li class="product_list-item product_list_center-col">


        <picture class="products_list-img product_list_img-small">
            <source srcset="./images/desktop/product-2-1x-min.png 1x,./images/desktop/product-2-2x-min.png 2x"
            media="(min-width: 1280px)"
            >
            <source srcset="./images/tablet/products-tab_2.png 1x,
            ./images/tablet/products-tab_2@2x.png 2x"
            media="(min-width: 768px)"
            >
            <source srcset="./images/mob/products-mob-2-1-min.png 1x,
            ./images/mob/products-mob-2-2-min.png 2x"
            media="(min-width: 480px)"
            >
            <source srcset="./images/mob/products-mob-2-1-min.png 1x,
            ./images/mob/products-mob-2-2-min.png 2x"
            media="(max-width: 479px)"
            >
            <img src="./images/mob/products-mob_1-min.png" alt="ice">
          </picture>


         <h3 class="product_item-title">ice coffee</h3>
         <div  class="product_item_wrap-ellipse">
             <div class="product_item-ellipse"></div>
             <div class="product_item-ellipse"></div>
             <div class="product_item-ellipse"></div>
         </div>
         <p class="product_item-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
         <div class="product_item_wrap-btn"> <button class="product_item-btn">
              <svg width="15" height="15" class="product_wrap-svg">
            <use href="./images/sprite.svg#icon-arrow-right2" class="product_list-svg"></use>
          </svg>
        </button>
    </div>
     </li>
     <li class="product_list-item product_list_right-col">
        <picture class="products_list-img">
            <source srcset="./images/desktop/products-desc_3@2x-min.png 1x,./images/desktop/products-desc_3@2x-min.png 2x"
            media="(min-width: 1280px)"
            >
            <source srcset="./images/tablet/products-tablet_3.png 1x,
            ./images/tablet/products-tablet_3@2x.png 2x"
            media="(min-width: 768px)"
            >
            <source srcset="./images/mob/products-mob_3-min.png 1x,
            ./images/mob/products-mob_3@2x-min.png 2x"
            media="(min-width: 480px)"
            >
            <source srcset="./images/mob/products-mob_3-min.png 1x,
            ./images/mob/products-mob_3@2x-min.png 2x"
            media="(max-width: 479px)"
            >
            <img src="./images/mob/products-mob_1-min.png" alt="ice">
          </picture>
         <h3 class="product_item-title">milkshakes</h3>
         <div  class="product_item_wrap-ellipse">
             <div class="product_item-ellipse"></div>
             <div class="product_item-ellipse"></div>
             <div class="product_item-ellipse"></div>
         </div>
         <p class="product_item-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      
      <div class="product_item_wrap-btn"> <button class="product_item-btn"> 
          <svg width="15" height="15" class="product_wrap-svg">
        <use href="./images/sprite.svg#icon-arrow-right2" class="product_list-svg"></use>
      </svg>
    </button>
</div>
     
     </li>
 
 
 </ul>
 
 
 </div>
 </div>


