






        <p class="product_item-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

        <div class="product_item_wrap-btn"> <button class="product_item-btn">jj</button></div>
    </li>
    <li class="product_list-item product_list_center-col">
        <h3 class="product_item-title">ice cream</h3>
        <div  class="product_item_wrap-ellipse">
            <div class="product_item-ellipse"></div>
            <div class="product_item-ellipse"></div>
            <div class="product_item-ellipse"></div>
        </div>
        <p class="product_item-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <div class="product_item_wrap-btn"> <button class="product_item-btn">jj</button></div>
    </li>
    <li class="product_list-item product_list_right-col">

        <h3 class="product_item-title">ice cream</h3>
        <div  class="product_item_wrap-ellipse">
            <div class="product_item-ellipse"></div>
            <div class="product_item-ellipse"></div>
            <div class="product_item-ellipse"></div>
        </div>
        <p class="product_item-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
     
     <div class="product_item_wrap-btn"> <button class="product_item-btn">jj</button></div>
    
    </li>


</ul>


