<div class="container">
<p class="product_paragraph">100% natural</p>
<h2 class="product_title">products</h2>




<ul class="product_list">
    <li class="product_list-item">
        <h3>ice cream</h3>
        <div>ffff</div>

        <p> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

     <button>jj</button>
    </li>
    <li>
        <h3>ice cream</h3>
        <div>ffff</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
     <button>jj</button>
    </li>
    <li>

        <h3>ice cream</h3>
        <div>ffff</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
     <button>jj</button>
    </li>


</ul>



</div>