

.about{
    background: #FFF5F6;
        @media screen and (min-width: 1280px) {

            background: #FFF5F6 url("../images/desktop/bg_about.png") no-repeat;

            background-size: contain;
          }
}

.img{
    margin: auto;
    margin-top: 26px;
    @media screen and (min-width: 768px) {
        margin-left: 39px;
        margin-bottom: 50px;
        width: 340px;
            height: 339px;
        }
        @media screen and (min-width: 1280px) {
            margin-left: 112px;
            margin-bottom: 55px;
            width: 516px;
            height: 516px;
            
          }
}

.about__list{
    
    @media screen and (min-width: 768px) {
        display: flex;
        }

}
.block{
            width: 220px;
            margin-top: 46px;
    @media screen and (min-width: 768px) {
            width: 340px;
            margin-left: 17px;
            margin-right: 36px;
            margin-top: 100px;
        }
        @media screen and (min-width: 1280px) {
            width: 463px;
            margin-left: 74px;
            margin-right: 112px;
            margin-top: 106px;
           
          }
}
.break{
    margin-bottom: 35px;
}


.about__pretext{
    font-size: 18px;
    margin: auto;
    font-family: var(--accent-font-family);
    color: #FFA5BA;
    text-align: center;
    padding-top: 125px;
    @media screen and (min-width: 768px) {
        width: 340px;
        }
        @media screen and (min-width: 1280px) {
            font-size: 30px;
           
          }
}

.about__title{
    width: 200px;
    text-align: center;
    font-size: 34px;
    margin: auto;
    margin-top: 15px;
    font-family: var(--accent-font-family);
    color: #D41443;
    @media screen and (min-width: 768px) {
        width: 429px;
        margin-top: 16px;
        font-size: 48px;
        }
        @media screen and (min-width: 1280px) {
            width: 534px;
            font-size: 58px;
            
          }
}
.about__text {
    font-size: 16px;
    font-family: var(--primary-font-family);
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px) {
        width: 340px;
        margin-left: 17px;
     
    }
    @media screen and (min-width: 1280px) {
        width: 463px;
        margin-left: 74px;
        margin-right: 112px;
        margin-top: 106px;
       
      }
}

.about__textafter{
    font-size: 14px;
    font-family: var(--primary-font-family);
    color: #907E82;
    margin-bottom: 35px;
}

.btn{
    width: 176px;
    height: 44px;
    color: #D41443;
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    // text-transform: uppercase;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    border: none;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 39px;
    @media screen and (min-width: 768px) {
        margin-bottom: 62px;
        }
        @media screen and (min-width: 1280px) {
            margin-bottom: 172px;
             
          }
}