.customer{
    padding: 0 20px;
    margin-bottom: 66px;
        margin-top: 20px;
    @media screen and (min-width: 768px){
        width: 740px;
        margin-bottom: 103px;
        margin-top: 61px;
        @media screen and (min-width: 1280px) {
        width: 925px;
        margin-bottom: 99px;
        margin-top: 61px;
        }
    }
}

.customer__img{ 
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    @media screen and (min-width: 768px) {
        margin-bottom: 19px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 15px;
        //width: 895px;
    }
}

.customer__icon-text{
    position: relative;
    margin-bottom: 50px;
    background: #FAFAFA;
    opacity: 0.4;
    @media screen and (min-width: 768px) {
        padding: 30px 36px 28px 40px;
        margin-bottom: 24px;
    }
    @media screen and (min-width: 1280px) {
        padding: 32px 54px 32px 50px;
        margin-bottom: 15px;
    }
}




//////////////біфок лапок


.customer__text::before{
    content: "";
    z-index: -2;
    position: absolute;
    left: 0px;
    top: -13px;
    width: 54px;
    height: 40px;
    background-image: url('../images/quotes.svg');
    @media screen and (min-width: 1280px) {
    left: -21px;
    top: -19px;
    }
}


.customer__text {
    position: relative;
//padding: 0 18px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    background-image: repeating-linear-gradient(to top, #E1E1E1 0px 1px, transparent 1px 31px);
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 2.16;
        text-align: center;
        letter-spacing: 0.04em;
        width: 544px;
        padding: 0 24px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.8;
        width: 822px;
        padding: 0 4px
    }
}

.customer__slider-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 20px;
    }
}

.customer__slider{
    margin-bottom: 18px;
    @media screen and (min-width: 768px) {
        margin-bottom: 15px;
    }
    @media screen and (min-width: 1280px) {
    }
}

.customer__slider-text{
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        margin-bottom: 35px;
    }
    @media screen and (min-width: 1280px) {
    }
}

.customer__slider-elipse{
position: relative;
    display: flex;
justify-content: center;
margin-bottom: 18px;
@media screen and (min-width: 768px) {
        margin-bottom: 14px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 20px;
    }

}
/////////псевдоелемент////////////

.customer__elipse{
    width: 4px;
    height: 4px;
    border-radius: 3px;
    background-color: var(--main-accent-color);
   // margin-right: 10px;

&::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 3px;
    background-color: var(--main-accent-color);
    left: calc(50% - 20px);
}
&::before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 3px;
    background-color: var(--main-accent-color);
    left: calc(50% + 17px);
}
}




.customer__slider-img{
    display: flex;
    justify-content: center;
    align-items: center;
}


   //////////кнопки слайдера/////
    
    .slick-dots li.slick-active button:before {
    content: '';
    width: 12px;
    height: 12px;
    font-size: 20px;
    //color: #D9D9D9;
    background-image: url(../images/home.svg);
    background-size: cover;
    }

    
    .slick-dots li button {
    font-size: 100px;
    }

    .slick-dots li button:before{
        font-size: 12px;
        width: 12px;
        height: 12px;
        line-height: 15px;
        opacity: 1;
        color: #D9D9D9;
    }

