.product_paragraph {
  font-family: Titan One;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
}
.product_title {
  font-family: Titan One;

  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #d41443;
}
.product_list {
  display: flex;
}


  color: #d41443;
}

